.be-last-event {
  width: 100%;
  height: fit-content;
  text-align: center;
  &__main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  &__items {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }
  &__img-wrapper {
    width: 200px;
    height: 300px;
    img {
      width: 100%;
    }
  }
  &__item-text {
    width: 100%;
  }
}
